#signupForm {
    height: 100vh;
    background: white;
}
.secondcon {
    height: 100vh;
    background: white;
}
#formtitle {
    font-family: fantasy;
    font-weight: bold;
}
.btnGroup {
    display: flex;
}
#signupImg {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

@media screen and (max-width: 768px) {
    .btnGroup {
        display: block;
        margin-top: 80px;
    }
    .btnGroup a {
        width: 100%;
    }
    .secondcon {
        display: none;
    }
}