#navbar {
    height: 80px;
    background: transparent;
}
#logo {
    width: 155px;
    margin-top: 20px;
    object-fit: cover;
}
.login-btn {
    background: white;
}
.login-btn:hover {
    background: black;
    color: white;
    display:none;
}
@media screen and (max-width: 768px) {
    #logo {
        width: 75px;
        height: 75px;
        object-fit: cover;
        margin-top: 0;
    }
}