.footerMargin {
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.FB:nth-child(1) {
    font-size: 30px;
    color: white;
}
#FB {
    font-size: 30px;
    color: white;
}


@media screen and (max-width: 768px) {
    .footerMargin {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}